// Headings font
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

// Body font
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$colors: (
    //primary
    dark-violet: hsl(256, 26%, 20%),
    gray-blue:hsl(216, 30%, 68%),
    //neutral
    v-dark-violet: hsl(270, 9%, 17%),
    dark-gray-violet: hsl(273, 4%, 51%),
    v-light-gray: hsl(0, 0%, 98%),
    //custom
    gray: #d9d9d9,
    dark-gray: #808082,
    almost-black: #2b282f
);

@function color ($color-name){
    @return map-get($colors, $color-name);
}

$desk-small: 1100px;
@mixin desk-small {
    @media (max-width: #{$desk-small}) {
        @content;
    }
}

$mobile: 880px;
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$mobile}){
        @content;
    }
}

$tiny: 375px;
@mixin tiny {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0;
    width: 100%;
    min-width: 260px;
}

// Core rules

h1, h2, h3, h4 {
    font-family: 'DM Serif Display', serif;
}

h1, h2 {
    font-size: 4rem;
    @include desk-small {
        font-size: 3rem;
    }
    @include tiny {
        font-size: 2rem;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.top-bar, header, section, footer {
    padding-left: 160px;
    padding-right: 160px;
    @include mobile {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.dark-button, .white-button {
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
}

.white-button {
    color: white;
    border-color: white;
    &:hover {
        background-color: white;
        color: color(dark-violet);
    }
    position: relative;
    z-index: 4;
}

.dark-button
{
    color: color(almost-black);
    border-color: color(almost-black);
    &:hover {
        background-color: color(almost-black);
        color: white;
    }
}

hr {
    width: 150px;
    margin: 0;
}

.hamburger {
    border-style: solid;
    border-width: 1px;
    height: fit-content;
    /*
    div {
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: black;
    }*/
    div {
        width: 16px;
        height: 1px;
        margin: 7px;
        background-color: black;
    }
    display: none;
    @include mobile {
        display: block;
    }
    cursor: pointer;
}
/*
.intro-right-desktop, .intro-left-desktop {
    position: absolute;
    z-index: 4;
}

//

.intro-right-desktop {
    right: 0;
    top: 0;
}

.intro-left-desktop {
    left: 0;
    top:480px;
}*/

.top-bar {
    img {
        width: 112px;
        object-fit: contain;
    }
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    @include mobile {
        position: fixed;
        top: 0;
        box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.2);
        height: 61px;
    }
    background-color: white;
    width: 100%;
    nav {
        display: flex;
        align-items: center;
        @include mobile {
            display: none;
        }
    }
    li {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8rem;
        display: inline;
        padding-right: 1.5rem;
        a {
            color: color(dark-gray);
            &:hover {
                color: color(almost-black);
            }
        }
    }
}

#mobile-nav {
    z-index: 5;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 61px;
    width: 100%;
    background-color: color(v-dark-violet);
    padding-bottom: 10rem;
    background-image: url('/images/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    ul {
        text-align: center;
        text-transform: uppercase;
        li {
            padding-bottom: 1rem;
            padding-top: 1rem;
            a {
                color: white;
            } 
        }
    }
    @include desktop {
        visibility: hidden;
    }
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

header {
    /*
    background-image: url('/images/bg-pattern-intro-right-desktop.svg'), url('/images/bg-pattern-intro-left-desktop.svg');
    background-position: right top, left bottom;
    background-repeat: no-repeat;*/
    background-color: color(dark-violet);
    color: white;
    display: flex;
    position: relative;
    hr {
        visibility: hidden;
    }
    @include mobile {
        flex-direction: column-reverse;
    }
    align-items: center;
    justify-content: space-between;
    .header-image {
        background-image: url('/images/image-intro-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        max-width: 540px;
        height: 650px;
        margin-bottom: -110px;
        margin-top: 110px;
        @include mobile {
            margin: 0;
            width: calc(100% + 50px);
            max-width: none;
        }
    }
    margin-bottom: 310px;
    @include tiny {
        margin-bottom: 120px;
    }
    .header-text {
        padding-right: 1rem;
        width: 50%;
        @include mobile {
            width: 100%;
            text-align: center;
            padding-bottom: 6rem;
            padding-top: 3rem;
        }
    }
    p {
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }
    .header-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        @include desktop {
            right:0;
            background-image: url('/images/bg-pattern-intro-right-desktop.svg');
            background-position: right top;
            background-repeat: no-repeat;
        }
        @include mobile {
            top: 650px;
            left: 0;
            background-image: url('/images/bg-pattern-intro-left-mobile.svg');
            background-position: left top;
            background-repeat: no-repeat;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 800px;
            @include desktop {
                left:-20px;
                bottom: -330px;
                background-image: url('/images/bg-pattern-intro-left-desktop.svg');
                background-position: left bottom;
                background-repeat: no-repeat;
            }
            @include mobile {
                right: 0;
                background-image: url('/images/bg-pattern-intro-right-mobile.svg');
                background-position: right 200px;
                background-repeat: no-repeat;
            }
        }
    }
}

section {
    @include mobile {
        hr {
            margin:auto;
        }
        text-align: center;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        @include mobile {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        gap: 1rem;
    }
    margin-bottom: 210px;
    @include tiny {
        margin-bottom: 100px;
    }
}

.card {
    h3 {
        font-size: 1.8rem;
    }
    p {
        color: color(dark-gray);
    }
    padding-right: 1rem;
}

.how-we-work {
    h2 {
        font-size: 3rem;
        margin: 0;
        width: 50%;
        @include mobile {
            width: 100%;
            padding-bottom: 2rem;
        }
        @include desk-small {
            font-size: 2rem;
        }
    }
    min-height: 250px;
    margin-left: 160px;
    margin-right: 160px;
    padding-left: 5rem;
    padding-right: 5rem;
    @include desk-small {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    background-color: color(dark-violet);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    @include desktop {
        background-image: url('/images/bg-pattern-how-we-work-desktop.svg');
        background-repeat: no-repeat;
        background-position: top right;
    }
    @include mobile {
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 3rem;
        padding-top: 3rem;
        background-image: url('/images/bg-pattern-how-we-work-mobile.svg');
        background-repeat: no-repeat;
        background-position: top right;
    }
}

footer {
    @include desktop {
        background-image: url('/images/bg-pattern-footer-desktop.svg');    
    }
    @include mobile {
        background-image: url('/images/bg-pattern-footer-mobile.svg');
    }
    background-repeat: no-repeat;
    background-position: top left; 
    background-color: color(v-light-gray);
    padding-bottom: 3rem;
    .footer-top {
        display: flex;
        justify-content: space-between;
        @include mobile {
            flex-direction: column;
            align-items: center;
        }
        padding: 2rem 0 1rem 0;
        margin-bottom: 2rem;
        img {
            width: 112px;
            object-fit: contain;
        }
        
        li {
            font-size: 1.5rem;
            display: inline;
            padding-left: 5px;
            padding-right: 5px;
        }
        border-bottom-style: solid;
        border-width: 1px;
        border-color: color(gray);
        a {
            color: color(dark-gray);
            &:hover {
                color: black;
            }
        }
    }
    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        @include mobile {
            justify-items: center;
        }
        gap: 1rem;
        li:nth-child(1) {
            color: color(dark-gray);
            padding-bottom: 2rem;
        }
        ul {
            @include mobile {
                text-align: center;
            }
            width: fit-content;
            text-transform: uppercase;
            font-weight: 700;
            li {
                padding-bottom: 1rem;
            }
        }
        a {
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.toggle {
    

    .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .line2 {
        opacity: 0;
    }

    .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}